<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Clientes</title>
    <style>
    button{
  	margin:10px;
  	}

    </style>
</head>
<style>
    body{
      display: flex;
      flex-direction: column;
      align-items: center;
    }  
    .headerButtons{
      display: flex;
    }
    .containForm,form {
      display: flex;
      flex-direction: column;
    }


</style>
<body>
<h1>Clientes</h1>
<div class="headerButtons">
    <button><a href="/">Home</a></button>
    <button><a href="/cadastrarCliente">Cadastrar novo cliente</a></button>
    <button><a href="/listaDeClientes"> Listar Clientes</a></button>
    <button><a href="/buscarCliente"> Buscar Cliente</a></button>
</div>

</body>
<script></script>
</html>