<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home eqp3</title>
  </head>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    button{
    margin-bottom:10px;}
  </style>
  <body>
  <h1>Home</h1>
    <div>
      <button><a href="/clientes">Clientes</a></button>
      <button><a href="/listaDeProdutos">Produtos</a></button>
      <button><a href="/pedidos">Pedidos</a></button>
    </div>
      <button><a href="/upload">Upload arquivo CSV</a></button>
  </body>
</html>